<div ng-show="ctrl.validDate">
  <div class="box">
    <div class="countdown-int">{{ctrl.days}}</div>
    <div class="countdown-text">Days</div>
  </div>
  <div class="box">
    <div class="countdown-int">{{ctrl.hours}}</div>
    <div class="countdown-text">Hours</div>
  </div>
  <div class="box">
    <div class="countdown-int">{{ctrl.minutes}}</div>
    <div class="countdown-text">Minutes</div>
  </div>
  <div class="box">
    <div fade-sec class="countdown-int countdown-int-last">
      {{ctrl.seconds}}
    </div>
    <div class="countdown-text">Seconds</div>
  </div>
</div>

<form name="myForm">
  <table class="table-three-columns">
    <tr>
      <td>
        <label>Month: </label>
      </td>
      <td>
        <input name="monthVal" type="number" maxlength="2"
          max="12" min="1" ng-model="ctrl.monthVal" />
      <td>
        <label>Day: </label>
      </td>
      <td>
        <input name="dayVal" type="number" maxlength="2"
          max="31" min="1" ng-model="ctrl.dateVal" />
      </td>
      <td>
        <label>Year: </label>
      </td>
      <td>
        <input name="yearVal" type="number" min="1"
          ng-model="ctrl.yearVal" />
      </td>
    </tr>
    <tr>
      <td>
        <label>Hour: </label>
      </td>
      <td>
        <input name="hourVal" type="number" maxlength="2"
          max="24" min="0" ng-model="ctrl.hourVal" />
      </td>
      <td>
        <label>Minute: </label>
      </td>
      <td>
        <input name="minuteVal" type="number" maxlength="2"
          max="59" min="0" ng-model="ctrl.minuteVal" />
      </td>
      <td colspan="2">
        <button ng-disabled="ctrl.disableButton" class="btn btn-primary"
          ng-click="ctrl.countdown()">
          Start
        </button>
        <button class="btn btn-primary" ng-click="ctrl.stopCountdown()">
          Stop
        </button>
      </td>
    </tr>
  </table>
</form>